<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<div th:include="fragments/navbar :: navbar">
    Header
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>

    <div class="form-group">
        <div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
            asdfghj
        </div>
    </div>
    <div class="form-group">
        12344
    </div>
</form>
</body>
</html>
